.articleListContainer {
    width: 100%;

    .articleList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 28px;
        column-gap: 54px;
    }

    h2 {
        color: black;
    }
}